# Fichiers générés par les éditeurs de code et les IDE
.idea/
.vscode/
*.swp
*~

# Fichiers système
.DS_Store
Thumbs.db

# Dépendances et packages (JavaScript/Node.js)
node_modules/
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Fichiers de build et de production
/build
/dist
/out
.next/
next-env.d.ts
*.tsbuildinfo

# Fichiers de logs et de débogage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dump.rdb

# Fichiers d'environnement (TRÈS IMPORTANT pour la sécurité)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*token.json*
*credentials.json*
*.pem

# Dépendances et environnements virtuels (Python)
__pycache__/
*.pyc
venv/
.venv/
/env/
/venv/
/ENV/
pip-log.txt
pip-delete-this-directory.txt

# Fichiers de test et de couverture de code
/coverage
.pytest_cache/

# Outils de développement
.chainlit
.ipynb_checkpoints/

# Déploiement
.vercel

# Caches divers
.cache/

# Archives compressées
**/*.zip
**/*.tar.gz
**/*.tar
**/*.tgz
*.pack
*.deb
*.dylib

